@import "src/_global-variables.scss";

:host {
    display: block;
    width: 100%;
}

.statistics-chart-container {
    width: 85%;
    background-color: $neutral-white;
    height: 25rem;
    margin: 0 auto;
    border-radius: 25px;

    &>.statistics-chart-tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
        color: $primary-dark;
        padding: 1.5rem 0 0 1.5rem;
        border-bottom: 1px solid $neutral-muted;

        &>span {
            font-weight: 600;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }

        &>.tabs {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 55%;

            &>span {
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                padding-bottom: 1rem;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

.active-tab {
    color: $primary-muted;
    border-bottom: 5px solid $primary-muted;
}