<div class="main-info-container" *ngIf="!loading">
    <section class="main-info">
        <div class="tabs-container">
            <div class="tab" *ngFor="let tab of tabsContent" [ngClass]="{'active-tab': activeTab === tab.name}"
                (click)="changeTab(tab.name)">
                <span class="total-value"><span>{{tab.value}}</span> {{tab.unit}} </span>
                <span class="value-type">{{tab.name}}</span>
                <span class="increase" *ngIf="tab.increase">{{tab.increase}}</span>
                <span class="decrease" *ngIf="tab.decrease">{{tab.decrease}}</span>
            </div>
        </div>

        <dashboard-gas-station-info *ngIf="!isListLoading" />
    </section>
    <dashboard-side-info />
</div>

<div *ngIf="loading || isListLoading" class="loading-overlay">
    <mat-spinner></mat-spinner>
</div>