<div class="toolbar-container">
    <div class="nav-left icon-container">
        <mat-icon class="icon" svgIcon="PMS" [class.active]="activeUrl === 'PMS'"
            (click)="activeRoute('PMS')"></mat-icon>
    </div>
    <div class="nav-fill icon-container">
        <mat-icon class="icon" svgIcon="control-room" [class.active]="activeUrl === 'control-room'"
            (click)="activeRoute('control-room')"></mat-icon>
        <mat-icon class="icon" svgIcon="dashboard" [class.active]="activeUrl === 'dashboard'"
            (click)="activeRoute('dashboard')"></mat-icon>
        <mat-icon class="icon" svgIcon="elements" [class.active]="activeUrl === 'elements'"
            (click)="activeRoute('elements')"></mat-icon>
        <mat-icon class="icon" svgIcon="settings" [class.active]="activeUrl === 'settings'"
            (click)="activeRoute('settings')"></mat-icon>
        <mat-icon class="icon" svgIcon="notifications" [class.active]="activeUrl === 'notifications'"
            (click)="activeRoute('notifications')"></mat-icon>
    </div>
    <div class="nav-right icon-container">
        <mat-icon class="icon" svgIcon="logout" [class.active]="activeUrl === 'logout'"
            (click)="activeRoute('login')"></mat-icon>
    </div>
</div>