<div class="toolbar-container">
    <div class="nav-left">
        <mat-icon class="icon" svgIcon="PMS"></mat-icon>
    </div>
    <div class="nav-fill">
        <mat-icon class="icon" svgIcon="control-room"></mat-icon>
        <mat-icon class="icon" svgIcon="dashboard"></mat-icon>
        <mat-icon class="icon" svgIcon="elements"></mat-icon>
        <mat-icon class="icon" svgIcon="settings"></mat-icon>
        <mat-icon class="icon" svgIcon="notifications"></mat-icon>
    </div>
    <div class="nav-right">
        <mat-icon class="icon" svgIcon="logout"></mat-icon>
    </div>
</div>