// Primary Colors
$primary-lightest: #F9F5F3;
$primary-light: #BCC0CD;
$primary-medium: #8D8F96;
$primary-accent-light: #00CBC033;
$primary-accent: #00CBC0;
$primary-accent-dark-light: #009ACF33;
$primary-accent-dark: #009ACF;
$primary-dark: #3D5161;
$primary-muted-light: #F4DBD4;
$primary-muted: #FF7F5C;
$primary-muted-dark: #B9CDE2;

// Neutral Colors
$neutral-white: #FFFFFF;
$neutral-darkest: #2C3E50;
$neutral-dark: #707070;
$neutral-muted: #B2BEC39B;
$neutral-light: #E0E7F1;